.card{
    display: inline-block;
    margin: 0% 1% 0px 0px;
}

.chart1a{
    width: 69%;
    height:450px;
    padding-top: 20px;
}

.chart1b{
    width: 29%;
    float: right;
    height: 450px;
    padding-top: 20px;
}

.chart2b{
    align-self: center;
}

#donut1 {
    width: 100%;
    height: 400px;
  }

  i {
    color: rgb(65, 148, 65);
  }