
  
  <div class="row">
    <!-- 4TH ELEMENT -->
    <div class="card chart1a">
      <p>
        <b>uSER'S ACCOUNTS</b>
       
      <!-- <select aria-label="Top 10" name="" id="">
        <option value="top 10">Top 10</option>
      </select>

      <select aria-label="last week" name="" id="">
        <option value="last week">Last Week</option>
      </select> -->

    </p>
      
      <p class="divided">
        <span>Current</span>
        <span class="divider"></span>
        <span>84900000</span>
      </p>

      <p class="divided">
        <span>Savings</span>
        <span class="divider"></span>
        <span>721000000</span>
      </p>

      
    </div>

    <div class="card chart1b">

      <!-- <h4><b>Top Professionals</b></h4>
      <select aria-label="Top 10" name="" id="">
          <option value="top 10">Top 10</option>
        </select>      -->

        <canvas id="myChart" ></canvas>
      
    </div>

  </div>