#chart {
    max-width: 650px;
    margin: 35px auto;
  }

  .card{
    display: inline-block;
    margin: 0% 1% 0px 0px;
}

.divided {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .divider {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px
  }

  .chart1a{
    width: 64%;
    height:450px;
    padding-top: 20px;
}

.chart1b{
    width: 34%;
    float: right;
    height: 450px;
    padding-top: 20px;
}

.row{
  margin-top: 20px;
}

.heading{
  float: right;
}