
  
  <div class="row">
    <!-- 4TH ELEMENT -->
    <div class="card chart1a">
      <h4><b>Top Sport Places</b></h4>

      <select name="" id="">
        <option value="top 10">Top 10</option>
      </select>

      <select name="" id="">
        <option value="last week">Last Week</option>
      </select>

      <p class="divided">
        <span>Get Healthier with MHC</span>
        <span class="divider"></span>
        <span>849</span>
      </p>

      <p class="divided">
        <span>Yoga & Meditations for Beginners</span>
        <span class="divider"></span>
        <span>721</span>
      </p>

      <p class="divided">
        <span>Running for Weight Loss</span>
        <span class="divider"></span>
        <span>645</span>
      </p>

      <p class="divided">
        <span>Yogalates</span>
        <span class="divider"></span>
        <span>549</span>
      </p>

      <p class="divided">
        <span>TRX</span>
        <span class="divider"></span>
        <span>432</span>
      </p>

    </div>

    <div class="card chart1b">

      <h4><b>Top Professionals</b></h4>
      <select name="" id="">
          <option value="top 10">Top 10</option>
        </select>     

        <canvas id="myChart" ></canvas>
      
    </div>

  </div>