#chart {
    max-width: 650px;
    margin: 35px auto;
  }

  .card{
    display: inline-block;
}

.divided {
    display: flex;
    align-items: center;
  }
  
  .divider {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px
  }