<div class="home-content">
  <!-- <span class="text">Finances</span> -->
</div>
  
  <div class="row">
    
    <div class="card chart1a">
      <h4><b>Transactions</b></h4>

      <!-- <select aria-label="Top 10" name="" id="">
        <option value="top 10">Top 10</option>
        <option value=""></option>
      </select>

      <select aria-label="last week" name="" id="">
        <option value="last week">Last Week</option>
        <option value=""></option>
      </select> -->

      <p class="divided">
        <span>Airtime</span>
        <span class="divider"></span>
        <span>849</span>
      </p>

      <p class="divided">
        <span>Debit</span>
        <span class="divider"></span>
        <span>721</span>
      </p>


    </div>

    <div class="card chart1b">
        <h4><b>Available Balance</b></h4>
        <p class="divided">
          <span>Current</span>
          <span class="divider"></span>
          <span>849</span>
        </p>
  
        <p class="divided">
          <span>Savings</span>
          <span class="divider"></span>
          <span>721</span>
        </p>
  
    </div>

  </div>