.card{
    display: inline-block;
    margin: 1% 2% 0px 0px;
}

.chart1a{
    width: 38%;
    height:450px;
    padding-top: 20px;
}

.chart1b{
    width: 55%;
    float: right;
    height:450px;
    padding-top: 20px;
    /* display: inline-block; */
}

.divided {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .divider {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px
  }


  #chartdiv1b{
    float: right;
    width: 35%;
    background-color:#E4E9F7;
    height: 100%;
  }

  .first{
    width: 65%;
    display: inline-block;
    height: 100%;
  }

  #chartdiv1a {
    width: 100%;
    height: 400px;
  }

  .text-center{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
  }