<!-- pie chart -->
<div class="card chart1a">
  <h4><b>Users</b></h4>
  <div id="chartdiv1a"></div>
</div>


<!-- data map -->
<div class="card chart1b">

  <div class="first">
    <div  class="text-center">
      <h4><b>User locations</b></h4>
    <span>geo-presentation</span>
    </div>
    

    <p class="divided">
      <span>Kumasi</span>
      <span class="divider"></span>
      <span>600K</span>
    </p>

    <p class="divided">
      <span>Accra</span>
      <span class="divider"></span>
      <span>200K</span>
    </p>

    <p class="divided">
      <span>Tamale</span>
      <span class="divider"></span>
      <span>200K</span>
    </p>

    <p class="divided">
      <span>Sekondi Takoradi</span>
      <span class="divider"></span>
      <span>180K</span>
    </p>

    <p class="divided">
      <span>Ho</span>
      <span class="divider"></span>
      <span>120K</span>
    </p>
  </div>


  <div id="chartdiv1b"></div>

</div>