<div class="container">
    <div class="home-content">
        <span class="text">User Management</span>
      </div>
      <div class="row">
    
        <!-- 1ST ELEMENT -->
        <div class="card">
            <h4><b>Corperative Users</b></h4>
            <p>800K +12.4%</p>
            <p>Since last week</p>
            <div id="chart"></div>
          </div> 
          
        <div class="card">
          <h4><b>Customers</b></h4>
          <p>1.2M +83.2%</p>
          <p>Since last week</p>
        </div>
    
      </div>
</div>


