.top-card{
    display: inline-block;
    margin: 0px 15px 20px 0px;
}

i.bi-chevron-left{
    float: right;
}

.home-section{
    padding-left: 1.5%;
}

.collapse-icon::after {
    transform: rotate(180deg);
  }

  .Corporative{
    color: aquamarine;
  }