<div class="spinner-border text-warning" role="status" *ngIf="loader">
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="!loader">
  <div class="d-flex">
    <div id="sidebar" class="bg-light border-right">
      <div class="sidebar-heading">Sidebar</div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">Link 1</a>
        <a href="#" class="list-group-item list-group-item-action">Link 2</a>
        <a href="#" class="list-group-item list-group-item-action">Link 3</a>
      </div>
    </div>
  
    <div id="page-content-wrapper">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
      <div class="container-fluid">
        <h1 class="mt-4">Main Content</h1>
        <p>Your main content goes here.</p>
      </div>
    </div>
  </div>
  
  
  <section class="home-section">
    <i class="bi bi-list"></i>
    <div class="container-fluid">
  
      <p class="dash">
  
        <span class="text">Dashboard</span>
  
        <a href="#" class="create_report">Create Report</a>
      </p>
  
      <div class="row">
  
        <div class="card top-card">
  <table>
    <tr>
      <td></td>
      <td colspan="3">Customers</td>
    </tr>
  
    <tr>
      <td rowspan="3"><img src="../assets/images/users.svg" class="user topCardImage" alt="profileImg"></td>
      <td colspan="2">
        <span class="precedent">1.2M</span>
        <span class="percentage">+83.2%</span>
      </td>
    </tr>
  
    <tr>
      <td colspan="2">Since last week</td>
    </tr>
  </table>
        </div>
  
        <div class="card top-card">
          <table>
            <tr>
              <td></td>
              <td colspan="2">Corperative Users</td>
            </tr>
    
            <tr >
              <td rowspan="3"><img src="../assets/images/bank.png" class="bank topCardImage" alt="profileImg"></td>
              <td colspan="2">
                <span class="precedent">800K</span>
                <span class="percentage">+12.4%</span>
              </td>
            </tr>
    
            <tr>
              <td colspan="2">Since last week</td>
            </tr>
          </table>
        </div>
  
        <div class="card top-card">
          <table>
            <tr>
              <td></td>
              <td colspan="2">Professionals</td>
            </tr>
    
            <tr>
              <td rowspan="3"><img src="../assets/images/medal.svg" class="medal topCardImage" alt="profileImg"></td>
              <td colspan="2">
                <span class="precedent">4K</span>
                <span class="percentage">+3.5%</span>
              </td>
            </tr>
    
            <tr>
              <td colspan="2" class="last_week">Since last week</td>
            </tr>
          </table>
        </div>
  
        <div class="card top-card lastCard">
          <table>
            <tr>
              <th class="Corporative" colspan="4">Next Corporative Event</th>
            </tr>
  
            <tr>
              <td>02</td>
              <td class="mnth">03</td>
              <td class="mnt">21</td>
              <td>23</td>
            </tr>
  
            <tr class="mnth">
              <td>Months</td>
              <td class="mnth">Weeks</td>
              <td class="mnt">Days</td>
              <td>Hours</td>
            </tr>
          </table>
  
        </div>
      </div>
  
      <app-first-c></app-first-c><br><br>
  
      <app-second-c></app-second-c>
  
      <app-third-c></app-third-c>
  
      <app-fourth-c></app-fourth-c>
  
  
  
  
      <app-fifth-c></app-fifth-c>
  
      <app-sixth-c></app-sixth-c>
  
      <app-seventh-c></app-seventh-c>
      <app-eighth-c></app-eighth-c>
  
    </div>
  
  </section>
</div>
