.top-card{
    display: inline-block;
    margin: 0px 15px 20px 0px;
}

i.bi-chevron-left{
    float: right;
}

h4{
    margin: 0;
    padding: 0;
}

.home-section{
    margin-left: 20px;
    padding-left: 20px;
}

.collapse-icon::after {
    transform: rotate(180deg);
  }
