.card{
    display: inline-block;
    margin: 0% 1% 0px 0px;
}

.chart1b{
    width: 62%;
    float: right;
    height: 450px;
    padding-top: 2%;
}

.chart1a{
    width: 36%;
    height: 450px;
    padding-top: 2%;
    align-items: center;
    align-content: center;
    text-align: center;
}

.row{
    margin-top: 20px;
}

img.retire{
    height: 40%;
    width: 45%;
    margin: 4% 0% 4% 0%;
}

.donations{
    font-size: 25px;
}

h2{
    font-size: 40px;
}

@media only screen and (max-width: 600px) {
    .card {
        background: #000;
    }
  }