<div class="row">
    <div class="card chart1a">
      <h4 class="donations"><b>Donations to Ghana Community</b></h4>
      <p>
        <img src="../assets/images/retirement.png" class="retire" alt="profileImg">
      </p>
      <h2><b>$1,200.000</b></h2>
    </div>

    <div class="card chart1b">
      <h4><b>Cashflow</b></h4>
      <select aria-label="revenue" name="" id="">
        <option value="top 10">Revenue</option>
      </select>

      <select aria-label="Sep 1" name="" id="">
        <option value="last week">1 Sep 2021 - 1 Feb 2022</option>
      </select>
      <div class="chart7b" id="chart"></div>
    </div>
  </div>