<div class="home-content">
    <span class="text">Traffic</span>
  </div>
  <div class="row">

    <div class="card chart1a">
        <h4><b>Traffic</b></h4>
        <select aria-label="channel" name="" id="">
          <option value="top 10">Channel</option>
        </select>
  
        <select aria-label="last week" name="" id="">
          <option value="last week">Last Week</option>
        </select>
        <div class="chart8b" id="chart"></div>
      </div>


    <div class="card chart1b">
      <h4><b>Active Visitors</b></h4>
      <div class="chart8a" id="chartdiv8"></div>
    </div>

    
  </div>