.card{
    display: inline-block;
    margin: 0% 2% 2% 0px;
}

.chart1a{
    width: 64%;
    height:450px;
    padding-top: 20px;
}

.chart1b{
    width: 29%;
    float: right;
    height: 450px;
    padding-top: 20px;
    flex-wrap: wrap;
}

.row{
    margin-bottom: 50px;
}

.home-content{
    margin-top: 20px;
}

#chartdiv8 {
    width: 100%;
    height: 400px;
  }