
  
  <div class="row">
    
    <div class="card">
      <h4><b>Top Bookings</b></h4>
      <p class="divided">
        <span>Get Healthier with MHC</span>
        <span class="divider"></span>
        <span>849</span>
      </p>

      <p class="divided">
        <span>Yoga & Meditations for Beginners</span>
        <span class="divider"></span>
        <span>721</span>
      </p>

      <p class="divided">
        <span>Running for Weight Loss</span>
        <span class="divider"></span>
        <span>645</span>
      </p>

      <p class="divided">
        <span>Yogalates</span>
        <span class="divider"></span>
        <span>549</span>
      </p>

      <p class="divided">
        <span>TRX</span>
        <span class="divider"></span>
        <span>432</span>
      </p>

    </div>

    <div class="card">
     <!-- 4TH ELEMENT -->
    <div class="card">
        <h4><b>Top Bookings</b></h4>
        <p class="divided">
          <span>Get Healthier with MHC</span>
          <span class="divider"></span>
          <span>849</span>
        </p>
  
        <p class="divided">
          <span>Yoga & Meditations for Beginners</span>
          <span class="divider"></span>
          <span>721</span>
        </p>
  
        <p class="divided">
          <span>Running for Weight Loss</span>
          <span class="divider"></span>
          <span>645</span>
        </p>
  
        <p class="divided">
          <span>Yogalates</span>
          <span class="divider"></span>
          <span>549</span>
        </p>
  
        <p class="divided">
          <span>TRX</span>
          <span class="divider"></span>
          <span>432</span>
        </p>
  
      </div>
    </div>

  </div>